.tc__apr-breakdown-tooptip__container {
    width: 200px;
    .tc__apr-breakdown-tooptip__section {
        display: flex;
        justify-content: space-between;
        padding: 6px 8px;
    }
    .tc__apr-breakdown-tooptip__separator {
        border-bottom: 2px solid rgba(0, 0, 0, 0.15);
        margin: 6px 0;
        &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.15);
            display: block;
            position: absolute;
            right: 50%;
            transform: rotate(35deg) translateY(-6px);
            background-color: #fcfcfc;
        }
        &::after {
            content: "";
            width: 8px;
            height: 8px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.15);
            display: block;
            position: absolute;
            left: 50%;
            transform: rotate(-35deg) translateY(-6px);
            background-color: #fcfcfc;
        }
    }
}