.tw__team {
  .tw__team__header {
    background: url(./header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 507px;

    .tw__header {
      background-color: transparent;
    }

    .tw__team__header__title {
      display: flex;
      justify-content: center;
      padding-top: 132px;
      font-family: Articulat CF;
      font-size: 72px;
      font-weight: 700;
      line-height: 79px;

      .tw__team__header__title-text {
        color: #eeecff;
        margin: 8px;

        &:first-child {
          opacity: 0.5;
        }
      }
    }
  }

  .tw__team__work-with {
    background: linear-gradient(89.84deg, #ff7700 0.14%, #c6bfff 99.42%);
    min-height: 430px;
    padding: 40px;
    box-sizing: border-box;

    .tw__team__worked-with__title {
      font-family: Articulat CF;
      font-size: 34px;
      font-weight: 600;
      line-height: 34px;
      color: #eeecff;
      margin: 0 0 100px 0;
    }

    .tw__team__worked-with__separator {
      width: 100%;
      height: 0;
      border: 1px solid #eeecff;
    }

    .tw__team__worked-with__organizations {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-top: 64px;

      svg {
        margin: 32px 0;
      }
    }
  }

  .tw__join {
    background: #eeecff;

    .tw__join__separator {
      height: 0;
    }

    .tw__join__title {
      color: #050a4a;
    }

    .tw__join__description {
      color: #050a4a;
    }

    .tw__link-block {
      background-color: #fafaff;
    }
  }
}
