@import '../../constants.scss';

.tf__currency-input {
  .MuiInputBase-root {
    &::before,
    &::after {
      display: none;
    }
  }

  .MuiInput-underline::after {
    display: none;
  }

  input {
    text-align: right;
    font-size: 30px;
    color: $secondary;

    &[disabled] {
      color: darkgray; // TODO: move this colour to constants or check if we can use a darker secondary
    }
  }
}
