.tc__poolPositionModal-info {
  margin-top: 24px;
  width: 736px;
}

.tc__poolPositionModal-chart {
  margin-top: 16px;
  width: 736px;
  height: 345px;
}

.tc__poolPositionModal-actions {
  width: 100%;
  display: flex;
  justify-content: center;
}
