@import '../../../constants.scss';

.tf__dashboard__grid__maturity-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tf__dashboard__grid__maturity-date {
  display: flex;
  align-items: center;
}
