.tc__app__markets {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.tc__app__markets-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
