@import '../../constants.scss';

.tf__sidebar-container {
  background-color: $primary-darker;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: relative;
  height: 100%;
  background: $primary-darker;
  > div {
    background-color: $primary-darker;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 7px;
    width: calc(#{$grid-template-columns} - 14px - 2px);
    border-right: 2px solid $primary-dark;
  }
}

.tf__sidebar__header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.tf__sidebar__title {
  height: 25px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tf__sidebar__content {
  background-color: $primary-dim;
  flex: 1;
  padding: 7px;
  width: calc(100% - 14px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  > .tf__sidebar__content-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 7px;
    width: 100%;

    > span:nth-child(1) {
      padding-left: 7px;
    }

    > span:nth-child(2) {
      color: $secondary;
    }
  }
}

.tf__sidebar__content-title {
  font-weight: 600;
  margin-top: 10px;
}

.tf__sidebar__content-divider {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: $primary-dark;
}

.tf__sidebar__balances {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin-top: 7px;
}

.tf__sidebar__transactions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
}
