@import '../../../constants.scss';

.tf__dialog__tab__action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px 0px 18px 0px;
  width: 100%;

  .tf__dialog__tab_action-container-divider {
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    margin-top: 5px;
  }
}
