.tf__dialog__tab__action-container-grid {
  grid-area: section;
  display: grid;
  grid-template-areas: 'top-left top-right' 'centre-left centre-right' 'bottom-left bottom-right';
}

.tf__dialog__tab__action-container-grid__top-left {
  grid-area: top-left;
  // background-color: red;
}

.tf__dialog__tab__action-container-grid__top-right {
  grid-area: top-right;
  // background-color: blue;
}

.tf__dialog__tab__action-container-grid__centre-left {
  grid-area: centre-left;
  // background-color: blueviolet;
}

.tf__dialog__tab__action-container-grid__centre-right {
  grid-area: centre-right;
  // background-color: burlywood;
}

.tf__dialog__tab__action-container-grid__bottom-left {
  grid-area: bottom-left;
  // background-color: chartreuse;
}

.tf__dialog__tab__action-container-grid__bottom-right {
  grid-area: bottom-right;
  // background-color: cornsilk;
}
