@import '../../../constants.scss';

.wallet-icon-container,
.pie-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.wallet-data-container,
.pool-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 5px;

  > div {
    margin: 2px 10px 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > span:first-child {
      margin-right: 5px;
      font-size: 14px;
    }
  }
}
