@font-face {
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('https://use.typekit.net/fgw2twm.css') format('truetype');
}

@font-face {
  font-family: articulat-cf, sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('https://use.typekit.net/fgw2twm.css') format('truetype');
}

@font-face {
  font-family: articulat-heavy-cf, sans-serif;
  font-weight: 900;
  font-style: normal;
  src: url('https://use.typekit.net/fgw2twm.css') format('truetype');
}

body {
  margin: 0px;
  font-family: articulat-cf, sans-serif;
}

.tw__section-title {
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  color: #050a4a;
}

.tw__section__subtitles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tw__section-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #eeecff;
}

.tw__section__subsection-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  color: #efecff;
}

.tw__hover-animation {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #050a4a;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
