.tc__currency-input-modal {
  .tc__modal {
    max-width: 816px;
  }

  .tc__currency-input-modal__nav {
    margin-bottom: 8px;
    display: flex;

    .tc__btn {
      margin-right: 8px;
    }

    .tc__icon-left-chevron {
      padding: 0 4px;
    }
  }

  .tc__term-tabs {
    margin-bottom: 24px;
  }

  .tc__currency-input-modal__description {
    margin-bottom: 24px;
  }

  .tc__currency-input-modal__info {
    margin: 4px 0 24px 0;

    &:last-child {
      margin-bottom: 0;
    }

    .tc__currency-input-modal__info-row {
      margin-bottom: 12px;
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 12px auto auto;
      grid-template-areas:
        'label icon value currency'
        'space space fiat-value fiat';
      gap: 12px 8px;

      > *:not(:first-child) {
        text-align: right;
      }

      .tc__currency-input-modal__info-row-label {
        grid-area: label;
      }

      .tc__currency-input-modal__value-change {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: icon;
      }

      .tc__currency-input-modal__info-row-value {
        grid-area: value;
      }

      .tc__currency-input-modal__info-row-currency {
        grid-area: currency;
      }

      .tc__currency-input-modal__info-row-fiat-value {
        grid-area: fiat-value;
      }

      .tc__currency-input-modal__info-row-fiat {
        grid-area: fiat;
      }
    }
  }

  .tc__currency-input-modal__action-container {
    width: 240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tc__btn {
      position: relative;
    }

    .tc__tooltip {
      transform: translateY(100%);
    }

    .tc__progress-bar {
      margin: 8px 0;
    }

    .tc__currency-input-modal__transaction-link {
      display: flex;
      align-items: center;

      .tc__icon-external {
        margin-left: 8px;
      }
    }

    .tc__walletButton__disconnected .tc__actionButton {
      width: 240px;
    }
  }

  .tc__currency-input-modal__transaction-info {
    margin-bottom: 8px;
    display: flex;
    align-items: center;

    .tc__icon-info-bordered {
      margin-right: 8px;
    }
  }

  // Close button should not be blocked by the header
  .tc__modal-header .tc__btn:first-of-type {
    z-index: 1;
  }
}
