$buttonHeight: 40px;
$networkSectionWidth: 55px;
$walletSectionWidth: 160px;

.tc__walletButton__disconnected .tc__actionButton {
  min-width: $walletSectionWidth;
}

.tc__walletButton__connected {
  min-width: $networkSectionWidth + $walletSectionWidth;
  height: $buttonHeight;
  display: flex;
}

.tc__walletButton__connected-network {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $networkSectionWidth;
  height: $buttonHeight;
  background: var(--walletButtonBackground);
  border: 1px solid var(--walletButtonBorder);
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;

  &:hover {
    background: var(--walletButtonHover);
  }
}

.tc__walletButton__connected-wallet {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $walletSectionWidth;
  padding: 8px 8px;
  height: $buttonHeight;
  background: var(--walletButtonBackground);
  border: 1px solid var(--walletButtonBorder);
  border-left: none;
  box-sizing: border-box;
  border-radius: 0px 4px 4px 0px;

  &:hover {
    background: var(--walletButtonHover);
  }
}

.tc__walletButton__connected-wallet-logo {
  padding-right: 8px;

  // Make react-blockies canvas round
  canvas {
    border-radius: 24px;
  }
}

.tc__walletButton__connected-wallet-info {
  min-width: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tc__walletButton__connected-wallet-info-balance {
  display: flex;
}
