@import '../../constants.scss';

.tf__header__container {
  grid-area: header;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tf__logo {
  width: 182px;
  height: 67px;
  margin-top: 7px;
  cursor: pointer;

  > svg {
    width: 100%;
  }

  &:hover {
    #tf__tempus-logo {
      fill: $secondary;
    }
  }
}

.tf__header__actions {
  display: flex;
  height: 100%;
  align-items: center;
}

.tf__header__action-account {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
}

button.tf__header__action {
  margin-right: 50px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  color: white;

  > span {
    font-size: 20px;
    font-weight: 500;
  }

  &:disabled {
    color: $secondary-darker;
  }

  &:last-child {
    margin-right: 0;
  }

  &.tf__header__action-wallet {
    background-color: $primary-dark;
    border: 1px solid $white;
    padding: 2px 4px;

    &:hover {
      background-color: $primary-light;
    }
  }
}

span.tf__header__action {
  font-size: 20px;
  font-weight: 500;

  > svg {
    margin-right: 11px;
  }
}
