@import '../../constants.scss';

.tf__header__container {
  width: 100%;
  height: 64px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tf__logo {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.tf__header__actions {
  display: flex;
  height: 100%;
  align-items: center;

  .MuiButton-root {
    text-transform: none;
  }
}

.tf__header__action-account {
  display: inline-flex;
  align-items: center;
}

button.tf__header__action {
  margin-right: 50px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.tf__header__action-wallet {
    padding: 2px 4px;
  }
}

.tf__header__action-icon-container {
  @include background-level-3;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tf__header__action-options {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tf__header__popper {
  padding-top: 5px;
  z-index: 999;
}

.tf__header__options-menu-container {
  @include background-level-1;
  display: flex;
  flex-direction: column;
}
