$currency-selector-width: 144px;
$currency-selector-height: 64px;
$border-size: 1px;
$border-radius: 8px;

.tc__currency-input {
  width: 520px;

  .tc__currency-input__field-container {
    height: $currency-selector-height;
    display: flex;
    background-color: var(--currencyInputBackground);
    border: $border-size solid var(--currencyInputBorder);
    border-radius: $border-radius;
    box-sizing: border-box;
  }

  .tc__currency-input__field-container-disabled {
    border-color: var(--currencyInputDisabledBorder);
  }

  .tc__currency-input__currency-selector {
    width: $currency-selector-width;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-right: $border-size solid var(--currencyInputBorder);
    box-sizing: border-box;
  }

  .tc__currency-input__currency-selector-multiple-choice .tc__currency-input__currency-selector-item {
    justify-content: space-between;
  }

  .tc__currency-input__currency-selector-disabled {
    border-right: $border-size solid var(--currencyInputDisabledBorder);
  }

  .tc__currency-input__currency-selector-dropdown {
    width: $currency-selector-width + $border-size;
    position: absolute;
    top: 0;
    left: 0;
    margin: -#{$border-size} 0 0 -#{$border-size};
    border: $border-size solid var(--currencyInputBorder);
    background-color: var(--currencyInputBackground);
    border-radius: $border-radius 0 $border-radius $border-radius;
    box-sizing: border-box;

    > .tc__currency-input__currency-selector-item {
      width: $currency-selector-width - $border-size;
      height: $currency-selector-height - $border-size;
      border-bottom: $border-size solid var(--currencyInputBorder);
      border-radius: 0;

      &:first-child {
        border-top-left-radius: $border-radius - $border-size;
      }

      &:last-child {
        border-bottom-left-radius: $border-radius - $border-size;
        border-bottom-right-radius: $border-radius - $border-size;
        border-bottom: none;
      }
    }
  }

  .tc__currency-input__currency-selector-item {
    width: $currency-selector-width - 2 * $border-size;
    height: $currency-selector-height - 2 * $border-size;
    padding: 0 12px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-top-left-radius: $border-radius - $border-size;
    border-bottom-left-radius: $border-radius - $border-size;

    &:not(.tc__currency-input__currency-selector-item-disabled):hover {
      background-color: var(--currencyInputHoverBackground);
    }
  }

  .tc__currency-input__currency-selector-item-content {
    display: flex;
    align-items: center;

    .tc__logo {
      filter: drop-shadow(var(--downWeakShadow));
    }
  }

  .tc__currency-input__currency-selector-item-disabled {
    background-color: var(--currencyInputDisabledBackground);

    .tc__logo {
      opacity: 0.5;
    }

    .tc__icon path {
      fill: var(--textDisabled);
    }
  }

  .tc__currency-input__currency-selector-item-label {
    margin-left: 8px;
  }

  .tc__currency-input__input-container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    border-top-right-radius: $border-radius - $border-size;
    border-bottom-right-radius: $border-radius - $border-size;

    &:not(.tc__currency-input__input-container-disabled):hover {
      background-color: var(--currencyInputHoverBackground);
    }
  }

  .tc__currency-input__input-container-disabled {
    background-color: var(--currencyInputDisabledBackground);
  }

  .tc__currency-input__amount-container {
    display: flex;
    align-items: center;
  }

  .tc__currency-input__amount {
    margin-right: 4px;
    flex: 1;

    .tc__base-input {
      width: 100%;
      padding: 0;
      color: inherit;
      font: inherit;
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--textDisabled);
      }
    }
  }

  .tc__currency-input__fiat-amount {
    display: flex;
  }

  .tc__currency-input__fiat-amount-currency {
    padding-left: 4px;
  }

  .tc__currency-input__error {
    margin-top: 4px;
  }

  .tc__currency-input__percentage-buttons {
    margin-left: $currency-selector-width;
    padding: 12px 20px;
    display: flex;

    .tc__btn {
      margin-right: 8px;
      flex: 1;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
