.tvl-chart-container {
  grid-area: chart-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-chart-container {
  grid-area: chart-2;
  display: flex;
  justify-content: center;
  align-items: center;
}
