@use "sass:math";

$arrowWidth: 16px;

.tc__tooltip {
  min-width: 100%;
  position: absolute;
  border-radius: 4px;
  box-shadow: var(--downWeakShadow);
  border: 1px solid var(--tooltipBorder);
  background: var(--tooltipBackground);

  // the CSS variable are here for React components to override
  --anchorWidth: 16px;

  &::before1 {
    content: '';
    display: block;
    position: absolute;
    width: $arrowWidth;
    height: $arrowWidth;
    border: 1px solid var(--tooltipBorder);
    background: var(--tooltipBackground);
    transform: translateY(calc($arrowWidth / 2)) rotate(45deg);
    transform-origin: center;
    border-bottom: 0;
    border-right: 0;
  }

  &::before {
    content: '';
    position: absolute;
    width: $arrowWidth;
    height: $arrowWidth;
    background: var(--tooltipBorder);
    -webkit-clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
  }

  &::after {
    content: '';
    position: absolute;
    width: calc($arrowWidth - 2px);
    height: calc($arrowWidth - 2px);
    background: var(--tooltipBackground);
    bottom: 100%;
    -webkit-clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
  }

  @each $horizontal-orientation in ('left', 'right') {
    $opposite-horizontal-orientation: if($horizontal-orientation == 'left', 'right', 'left');

    &.tc__tooltip__bottom-#{$horizontal-orientation} {
      transform: translateY(calc(100% + $arrowWidth));
      bottom: 0px;
      #{$opposite-horizontal-orientation}: 0px;

      &::before {
        #{$horizontal-orientation}: calc(100% - $arrowWidth/2 - max(var(--anchorWidth) / 2, $arrowWidth/2));
        bottom: 100%;
      }

      &::after {
        #{$horizontal-orientation}: calc(100% - $arrowWidth/2 - max(var(--anchorWidth) / 2, $arrowWidth/2) + 1px);
        bottom: 100%;
      }
    }
  }

  &.tc__tooltip__bottom-center {
    display: flex;
    justify-content: center;
    transform: translate(-50%, calc(100% + $arrowWidth));
    left: 50%;
    bottom: 0;

    &::before {
      bottom: 100%;
    }

    &::after {
      bottom: 100%;
    }
  }
}
