@use "sass:math";

$arrowWidth: 20px;
$arrowEdgeOffset: 24px;
$arrowBorderOffset: #{math.sqrt(2)}px;
$arrowBorderWidth: 2px;

.tc__tooltip {
  min-width: 100%;
  position: absolute;
  border-radius: 4px;
  box-shadow: var(--downWeakShadow);
  border: 1px solid var(--tooltipBorder);
  background: var(--tooltipBackground);

  // the CSS variable are here for React components to override
  --anchorWidth: 16px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border: calc($arrowWidth / 2) solid transparent;
    border-bottom-color: var(--tooltipBorder);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    // Subtracting border offset from inner triangle border size to make inner triangle smaller then outer triangle
    border: calc($arrowWidth / 2 - $arrowBorderOffset) solid transparent;
    border-bottom-color: var(--tooltipBackground);
  }

  @each $horizontal-orientation in ('left', 'right') {
    $opposite-horizontal-orientation: if($horizontal-orientation == 'left', 'right', 'left');

    &.tc__tooltip__bottom-#{$horizontal-orientation} {
      transform: translateY(calc(100% + $arrowWidth));
      bottom: 0px;
      #{$opposite-horizontal-orientation}: 0px;

      &::before {
        #{$horizontal-orientation}: calc(100% - $arrowWidth/2 - max(var(--anchorWidth) / 2, $arrowWidth/2));
        bottom: 100%;
      }

      &::after {
        // Adding border offset to position inner triangle in the middle of outer triangle
        #{$horizontal-orientation}: calc(
          100% - $arrowWidth/2 - max(var(--anchorWidth) / 2, $arrowWidth/2) + $arrowBorderWidth
        );
        bottom: 100%;
      }
    }
  }

  &.tc__tooltip__bottom-center {
    display: flex;
    justify-content: center;
    transform: translateY(calc(100% + $arrowWidth)) translateX(calc((-100% + var(--anchorWidth)) / 2));
    bottom: 0;

    &::before {
      bottom: 100%;
    }

    &::after {
      bottom: 100%;
    }
  }
}
