$arrowWidth: 20px;
$arrowEdgeOffset: 24px;

.tc__tooltip {
  min-width: 100%;
  position: absolute;
  transform: translateY(calc(100% + $arrowWidth));
  bottom: 0px;
  right: 0px;
  border-radius: 4px;
  box-shadow: var(--downWeakShadow);
  border: 1px solid var(--tooltipBorder);
  background: var(--tooltipBackground);

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: calc(100% - $arrowWidth - $arrowEdgeOffset);
    bottom: 100%;
    width: 0px;
    height: 0px;
    border: calc($arrowWidth / 2) solid transparent;
    border-bottom-color: var(--tooltipBorder);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    // Adding two pixels for left offset to position inner triangle in the middle of outer triangle
    left: calc(100% - $arrowWidth - $arrowEdgeOffset + 2px);
    bottom: 100%;
    width: 0px;
    height: 0px;
    // Subtracting two pixels from inner triangle border size to make inner triangle smaller then outer triangle
    border: calc($arrowWidth / 2 - 2px) solid transparent;
    border-bottom-color: var(--tooltipBackground);
  }
}
