@import '../../constants.scss';

.tc__navBar__wallet {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.tc__connect-wallet-button {
  width: 160px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.tc__connect-wallet-button__profile {
  display: flex;

  img,
  canvas {
    height: 24px;
    width: 24px;
    border-radius: 48px;
  }
}

.tc__connect-wallet-button__info {
  display: flex;
  flex-direction: column;
}

.tc__connect-wallet-button__balance {
  display: flex;
  align-items: center;
}
