.tf-landing-section-container {
  grid-area: section;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 48px;
  column-gap: 48px;
  grid-template-areas: 'chart-1 chart-2' 'transactions-grid transactions-grid';
}

.tf-tvl-chart-container {
  grid-area: chart-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tf-volume-chart-container {
  grid-area: chart-2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tf-transactions-grid-container {
  grid-area: transactions-grid;
  display: flex;
  justify-content: center;
  align-items: center;
}
