@font-face {
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('https://use.typekit.net/fgw2twm.css') format('truetype');
}

@font-face {
  font-family: articulat-cf, sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('https://use.typekit.net/fgw2twm.css') format('truetype');
}

@font-face {
  font-family: articulat-heavy-cf, sans-serif;
  font-weight: 900;
  font-style: normal;
  src: url('https://use.typekit.net/fgw2twm.css') format('truetype');
}

body {
  font-family: articulat-cf, sans-serif;
}