.tc__error-modal__content {
  max-width: 480px;
  padding: 0 24px 48px 24px;
  text-align: center;

  .tc__error-modal__animation {
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .tc__error-modal__action-buttons {
    display: flex;
    justify-content: center;
  }
}
