.tc__tooltip-wrapper {
  position: relative;

  // the CSS variable are here for React components to override
  --anchorPosX: 0px;
  --anchorPosY: 0px;

  .tc__tooltip-wrapper-backdrop {
    position: absolute;
    left: calc(var(--anchorPosX) * -1);
    top: calc(var(--anchorPosY) * -1);
    width: 100vw;
    height: 100vh;
    z-index: 9997;
  }

  .tc__tooltip-wrapper-anchor {
    position: inherit;
    z-index: 9998;
  }

  .tc__tooltip {
    z-index: 9999;
  }
}

.tc__tooltip-wrapper-anchor {
  display: flex;
}
