.tf__dashboard__grid__avail-to-deposit-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  :first-child {
    margin-top: 0px;
  }
}

.tf__dashboard__grid__avail-to-deposit-token-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
  min-width: 70%;
  max-width: 90%;
  justify-content: space-between;

  > p:first-child {
    margin-right: 10px;
  }
}

.tf__dashboard__grid__avail-to-deposit-token-ticker-container {
  display: flex;
  align-items: center;
}
