// Base
.tc__actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
  box-shadow: var(--downWeakShadow);
  box-sizing: border-box;
  mix-blend-mode: normal;
}

.tc__actionButton-status-content-large {
  min-width: 20px;
  margin-right: 8px;
}

.tc__actionButton-status-content-small {
  min-width: 12px;
  margin-right: 8px;
}

.tc__actionButton-status-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// Border
.tc__actionButton-border-primary-small,
.tc__actionButton-border-primary-large,
.tc__actionButton-border-tertiary-small,
.tc__actionButton-border-tertiary-large,
.tc__actionButton-border-primary-small-disabled,
.tc__actionButton-border-primary-large-disabled,
.tc__actionButton-border-tertiary-small-disabled,
.tc__actionButton-border-tertiary-large-disabled {
  border: none;
}

.tc__actionButton-border-secondary-large,
.tc__actionButton-border-secondary-small,
.tc__actionButton-border-secondary-large-loading,
.tc__actionButton-border-secondary-small-loading {
  border: 1px solid var(--buttonBorder);
}

.tc__actionButton-border-primary-small-success,
.tc__actionButton-border-secondary-small-success,
.tc__actionButton-border-tertiary-small-success {
  border: 1px solid var(--buttonBorderSuccess);
}

.tc__actionButton-border-primary-large-success,
.tc__actionButton-border-secondary-large-success,
.tc__actionButton-border-tertiary-large-success {
  border: 1px solid rgba(var(--buttonBorderSuccessRGB), 0.6);
}

.tc__actionButton-border-secondary-small-disabled,
.tc__actionButton-border-secondary-large-disabled {
  border: 1px solid var(--buttonDisabled);
}

.tc__actionButton-border-secondary-loading {
  border: 1px solid var(--buttonSecondaryLoading);
}

// Background color
.tc__actionButton-background-primary-large {
  background: var(--secondaryRegular);
}

.tc__actionButton-background-secondary-large,
.tc__actionButton-background-secondary-small {
  background: var(--buttonDefault);
}

.tc__actionButton-background-secondary-large-disabled,
.tc__actionButton-background-secondary-small-disabled {
  background: var(--buttonSecondaryDisabled);
}

.tc__actionButton-background-tertiary-small {
  background: var(--buttonTertiaryDefault);
}

.tc__actionButton-background-primary-small {
  background: var(--primaryMain);
}

.tc__actionButton-background-primary-large-disabled,
.tc__actionButton-background-primary-small-disabled {
  background: var(--buttonDisabled);
}

.tc__actionButton-background-tertiary-large-success,
.tc__actionButton-background-primary-small-success {
  background: var(--buttonSuccess);
}

.tc__actionButton-background-primary-large-success,
.tc__actionButton-background-secondary-large-success {
  background: rgba(var(--buttonSuccessRGB), 0.6);
}

.tc__actionButton-background-primary-large-loading {
  background: rgba(var(--secondaryRegularRGB), 0.6);
}

.tc__actionButton-background-primary-small-loading {
  background: var(--primaryLight);
}

// Hover shadow+color+pointer
.tc__actionButton-hover-primary-large {
  &:hover {
    background: var(--secondaryLight);
    box-shadow: var(--downStrongShadow);
    cursor: pointer;
  }
}

.tc__actionButton-hover-primary-small {
  &:hover {
    background: var(--primaryLight);
    box-shadow: var(--downStrongShadow);
    cursor: pointer;
  }
}

.tc__actionButton-hover-secondary-large,
.tc__actionButton-hover-secondary-small {
  &:hover {
    background: var(--buttonSecondaryHighlight);
    box-shadow: var(--downStrongShadow);
    cursor: pointer;
  }
}

.tc__actionButton-hover-tertiary-large,
.tc__actionButton-hover-tertiary-small {
  &:hover {
    box-shadow: var(--downStrongShadow);
    cursor: pointer;
  }
}
