@use './Table.scss' as TableStyle;

$tableRowBorderSize: 1px;
$tableRowHeight: 80px;

.tc__tableBodyCell {
  border-width: $tableRowBorderSize 0px;
  border-color: var(--tableRowBorderColor);
  border-style: solid;
  height: $tableRowHeight;
  padding-right: TableStyle.$tableSidePadding;

  &:first-child {
    border-left-width: $tableRowBorderSize;
    border-color: #bfc0c0;
    border-radius: 40px 0px 0px 40px;
    padding-left: 20px;
  }

  &:last-child {
    border-right-width: $tableRowBorderSize;
    border-color: #bfc0c0;
    border-radius: 0px 40px 40px 0px;
    padding-right: 20px;
  }

  &[data-align='left'] {
    text-align: left;
  }

  &[data-align='center'] {
    text-align: center;
  }

  &[data-align='right'] {
    text-align: right;
  }
}
