@import './constants.scss';

body {
  font-family: Aeonik, 'sans-serif';
  color: #fff;
  background-color: $primary;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
