@import './constants.scss';

body {
  font-family: Roboto, 'sans-serif';
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tf__backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 998;
  cursor: default !important;
}

.tf__flex-row-center {
  display: flex;
  align-items: center;
}

.tf__flex-row-space-between {
  display: flex;
  justify-content: space-between;
}

.tf__flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tf__flex-column-center-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
