:root {
  // Connect Wallet colors
  --onboard-primary-100: var(--primaryExtraLight);
  --onboard-primary-200: var(--primaryLight);
  --onboard-primary-300: var(--primaryLight);
  --onboard-primary-500: var(--primaryMain);
  --onboard-success-100: var(--successLight);
  --onboard-success-600: var(--successMain);
  --onboard-warning-100: var(--warningLight);
  --onboard-warning-600: var(--warningMain);
  --onboard-danger-100: var(--dangerLight);
  --onboard-danger-600: var(--dangerMain);
  --onboard-link-color: var(--primaryMain);
  --onboard-checkbox-background: var(--primaryMain);
  --onboard-connect-sidebar-progress-color: var(--primaryMain);

  // Connect Wallet modal fonts
  --onboard-font-family-normal: DM Sans;
  --onboard-font-family-semibold: DM Sans;
  --onboard-font-family-light: DM Sans;
}

@mixin checked-input($input-type, $radius: 0%) {
  .tc__#{$input-type} {
    display: flex;
    align-items: center;
  }

  .tc__#{$input-type}__box-container {
    width: 24px;
    height: 24px;
    border: 2px solid var(--primaryMain);
    padding: 2px;
    display: inline-flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;

    @if ($radius > 0%) {
      border-radius: $radius;
    }

    input[type='#{$input-type}'] {
      width: 100%;
      height: 100%;
      margin: 0;
      top: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      z-index: 1;
    }
  }

  .tc__#{$input-type}__checked-box {
    width: 100%;
    height: 100%;
    background: var(--primaryMain);

    @if ($radius > 0%) {
      border-radius: $radius;
    }
  }

  .tc__#{$input-type}__label {
    padding-left: 6px;
  }
}
