@import '../../../constants.scss';

.tf__detail__add__liquidity-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: $ui-element-color;
}
