@import '../../constants.scss';

.tc__header__popper {
  z-index: 999;
}

.tc__header__settings-menu__container {
  @include background-level-2;
  padding: 15px 0px 15px 0px;
}

.tc__header__settings-menu__section-header {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.tc__header__settings-menu__section-row {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
}

.tc__header__settings-menu__section-header-action {
  padding-left: 10px;
  margin-left: auto;
}
