@import '../../constants.scss';

.tc__header__popper {
  z-index: 999;
}

.tc__header__settings-menu__container {
  @include background-level-2;
  padding-top: 15px 10px 15px 10px;
}

.tc__header__settings-menu__section-header {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 15px;
}

.tc__header__settings-menu__section-header-action {
  padding-left: 10px;
  margin-left: auto;
}
