@import '../../constants.scss';

$padding: 20px;

.tf__dashboard__section__container {
  display: flex;
  padding: 0;
  border-radius: 5px;
  padding: $padding;
  background-color: $primary-dark;

  &[hidden] {
    display: none;
  }
}

.tf__detail__section__container {
  display: flex;
  padding: 0;
  border-radius: 5px;

  &[hidden] {
    opacity: 0;
    z-index: -99;
  }
}

.tf__dashboard__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > hr {
    flex-grow: 1;
    width: 100%;
    background-color: $primary-dim;
    height: 1px;
    border: 0;
  }
}

.tf__dashboard__header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2px;

  .tf__dashboard__header__title {
    @include dashboard-title;
  }

  .tf__dashboard__header__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
      margin-left: 20px;
      cursor: pointer;
      @include dashboard-header-cell;

      > svg {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}

.tf__dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;

  .tf__dashboard__grid {
    background-color: $primary-dark;

    .MuiTable-root:nth-child(2) {
      border-spacing: 0 10px;
    }

    .tf__dashboard__filter__row {
      background: $primary;

      > th {
        background-color: transparent;
        border-bottom: 1px solid $primary-darker;

        .tf__dashboard__filter__chip {
          margin: 0 8px;
        }

        .tf__dashboard__filter__chip-select {
          margin-top: 0;
        }
      }
    }

    tbody {
      > tr {
        height: 80px;
        padding: 10px 0;
      }
    }

    .tf__dashboard__body__row {
      > td {
        background-color: $primary-darker;
        border-bottom-color: transparent;
        font-size: 16px;
        padding-left: 0;

        &:first-child {
          border-radius: 5px 0 0 5px;
          padding-left: 20px;
        }

        &:last-child {
          border-radius: 0 5px 5px 0;
          padding-right: 10px;
        }
      }

      &:hover {
        background-color: $primary-light;
      }

      &.tf__dashboard__body__row-child {
        > td {
          background-color: $primary-dim;
          border-bottom-color: $primary;
        }

        &:hover {
          > td {
            background-color: $primary-light;
          }
        }

        .tf__dashboard__body__trade {
          display: flex;
          justify-content: center;
        }
      }
    }

    .tf__dashboard__header__row {
      background-color: $primary-dark;

      > th {
        background-color: transparent;
        border-bottom: 2px solid $primary-dark;
      }

      .tf__dashboard__header__cell {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 3px;
        @include dashboard-header-cell;

        &.tf__dashboard__header__token button[class*='TableTreeExpandButtonBase-button'] {
          padding-right: 0;
          padding-left: 0;
        }

        button.MuiIconButton-root {
          > span {
            > svg {
              width: 20px;
              height: 20px;
              fill: $offwhite;
            }
          }
        }

        > div > button {
          padding: 0 8px;
        }

        .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active
          .MuiTableSortLabel-icon {
          color: $secondary;
        }
      }

      .tf__dashboard__header__maturity {
        text-align: right;
      }

      .tf__dashboard__header__fixedAPR {
        div {
          width: auto;
          margin-left: auto;
        }
      }

      .tf__dashboard__header__variableAPY {
        div {
          width: auto;
          margin-left: auto;
        }
      }

      .tf__dashboard__header__presentValue {
        div {
          width: auto;
          margin-left: auto;
        }
      }
    }

    .tf__dashboard__header__protocol {
      text-align: left;
    }

    .tf__dashboard__body__apy {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 3px 0 3px;
      align-items: flex-end;

      .tf__dashboard__body__apy-value {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        @include dashboard-cell-text;
      }
    }

    .tf__dashboard__trade-button {
      display: flex;
      justify-content: center;
      width: 100%;

      .MuiButton-containedSizeSmall {
        padding: 2px 8px;
      }

      .MuiButton-root {
        color: white;
        padding: 10px 15px 10px 15px;
        text-transform: none;
        background-color: $primary-darker;
        @include dashboard-header-cell;
      }
    }

    .tf__dashboard__asset-ticker {
      display: flex;
      align-items: center;

      > svg:first-child {
        margin-right: 18px;
      }

      > span {
        margin-right: 5px;
        font-size: 16px;
      }
    }

    .tf__dashboard__parent-toggle-icon {
      width: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
