.tw__governance {
  .tw__governance__header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(89.84deg, #ff7700 0.14%, #c6bfff 99.42%);
    height: 507px;
    position: relative;
    overflow: hidden;
    color: #050a4a;

    @media screen and (max-width: 768px) {
      height: 428px;
    }

    .tw__governance__header__background-container {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      display: flex;
      justify-content: center;
    }

    .tw__governance__header__background {
      width: 100%;
      background-image: url(./header-background.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .tw__header {
      background-color: transparent;

      .tw__header-logo-img-light {
        display: none;
      }

      .tw__header-logo-img-dark {
        display: block;
      }

      .tw__header-links {
        color: #050a4a;

        .tw__hover-animation:after {
          background-color: #050a4a;
        }
      }

      .tw__header-separator {
        background-color: #050a4a;
      }
    }

    .tw__governance__header__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      font-size: 72px;
      font-weight: 700;
      line-height: 79px;
      z-index: 1;

      @media screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      @media screen and (max-width: 768px) {
        font-size: 42px;
        line-height: 110%;
      }

      .tw__governance__header__title-text {
        margin: 0 8px;

        &:first-child {
          font-weight: 400;
        }
      }
    }
  }
}

.tw__governance__title {
  margin: 0;
  font-weight: 600;
  font-size: 34px;
  line-height: 1;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
}

.tw__governance__treasury {
  background-color: #050a4a;
  color: #eeecff;

  .tw__governance__treasury-container {
    padding: 40px 40px 100px 40px;

    @media screen and (max-width: 768px) {
      padding: 60px 16px;
    }
  }

  .tw__governance__treasury-content {
    margin-top: 60px;
    display: flex;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .tw__governance__treasury-value {
    flex: 2;
    font-size: 100px;
    color: #c6c0ff;

    @media screen and (max-width: 1024px) {
      flex: 1;
      margin-bottom: 60px;
    }

    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 53px;
      margin-bottom: 40px;
    }
  }

  .tw__governance__treasury-chart {
    height: 435px;
    flex: 3;
    position: relative;

    @media screen and (max-width: 1200px) {
      width: 50%;
    }

    @media screen and (max-width: 1024px) {
      flex: 1;
      width: 100%;
    }

    @media screen and (max-width: 420px) {
      height: calc(100vw - 32px);
    }

    .tw__governance__treasury-chart-selected-sector {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .tw__governance__treasury-chart-selected-name {
      font-size: 24px;
      line-height: 1;
      font-weight: 600;

      @media screen and (max-width: 420px) {
        font-size: 24px;
      }

      @media screen and (max-width: 320px) {
        font-size: 18px;
      }
    }

    .tw__governance__treasury-chart-selected-description {
      margin-top: 4px;
      font-size: 16px;
      font-weight: 600;
      color: rgba(#eeecff, 0.6);

      @media screen and (max-width: 320px) {
        font-size: 14px;
      }
    }

    .tw__governance__treasury-chart-selected-value {
      margin-top: 8px;
      font-size: 68px;
      line-height: 1;
      font-weight: 600;

      @media screen and (max-width: 420px) {
        font-size: 48px;
      }

      @media screen and (max-width: 320px) {
        font-size: 36px;
      }
    }
  }
}

.tw__governance__steps {
  background-color: #050a4a;
  color: #eeecff;

  .tw__governance__steps-container {
    padding: 0 40px 100px 40px;
  }

  .tw__governance__steps-separator {
    display: flex;
    flex-grow: 1;
    height: 1px;
    width: 100%;
    margin-bottom: 40px;
    background-color: #eeecff;
  }

  .tw__governance__steps-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }

    .tw__governance__steps-grid-item {
      &:not(:last-child) {
        @media screen and (max-width: 1024px) {
          margin-bottom: 60px;
        }
      }

      &:nth-child(1) {
        .tw__governance__steps-title::after {
          content: 'Step 1';
        }
      }

      &:nth-child(2) {
        .tw__governance__steps-title::after {
          content: 'Step 2';
        }
      }

      &:nth-child(3) {
        .tw__governance__steps-title::after {
          content: 'Step 3';
        }
      }

      .tw__governance__steps-separator {
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  .tw__governance__steps-illustration {
    height: 246px;
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
      margin-bottom: 0;
      display: flex;
      justify-content: center;
    }
  }

  .tw__governance__steps-title {
    margin-bottom: 60px;
    position: relative;
    font-size: 28px;
    line-height: 1;
    font-weight: bold;

    &::after {
      margin-left: 11px;
      position: absolute;
      color: #ff7700;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        margin-top: -2px;
        margin-left: 8px;
        font-size: 14px;
        line-height: 16px;
      }
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 24px;
      font-size: 21px;
      text-align: center;
    }
  }

  .tw__governance__steps-description {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;

    @media screen and (max-width: 768px) {
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
    }
  }

  .tw__governance__steps-button {
    width: 283px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #eeecff;
    border-radius: 30px;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 52px;
      font-size: 16px;
      border-radius: 26px;
    }

    &:hover {
      background-color: #eeecff;
      color: #050a4a;
    }
  }
}
