.tw__button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 30px;
  border-radius: 60px;
  border: 1px solid #EEECFF;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  width: 283px;
  height: 60px;

  &:hover {
    background-color: #EEECFF;
    color: #050a4a;
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #EEECFF;
  }
}
