@import '../shared/style.scss';

.tc__currentPosition {
  @include cardContainer;
  flex: 40;
  background: rgba(255, 255, 255, 0.5); // TODO add to constants
}

.tc__currentPosition__body {
  @include cardBody;

  .tc__currentPosition__body__bar {
    width: 100%;
    margin: 30px auto 10px;
    height: 22px;
    border-radius: 5px;
    position: relative;

    .tc__currentPosition__body__bar__1 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 10%;
      border-radius: 5px 0 0 5px;
      background-color: #f5ac37; // TODO add to constants
    }

    .tc__currentPosition__body__bar__2 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10%;
      width: 12%;
      border-radius: 0;
      background-color: #ffe2b3; // TODO add to constants
    }

    .tc__currentPosition__body__bar__3 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 22%;
      width: 40%;
      border-radius: 0;
      background-color: #5aaec0; // TODO add to constants
    }

    .tc__currentPosition__body__bar__4 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 62%;
      right: 0;
      border-radius: 0 5px 5px 0;
      background-color: #288195; // TODO add to constants
    }
  }

  .tc__currentPosition__body__item {
    @include cardBodyItem;

    > .tc__currentPosition__body__item__with-icon {
      display: flex;
      align-items: center;
    }
  }

  .tc__currentPosition__icon {
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 15px;
    width: 12px;
    height: 12px;
    border-radius: 12px;

    &:after {
      position: absolute;
      top: 0;
      left: 6px;
      content: '';
      height: 12px;
      width: 12px;
      border-radius: 12px;
    }
  }

  .tc__currentPosition__icon-principals {
    background: #f5ac37; // TODO add to constants

    &:after {
      background: #ffe2b2; // TODO add to constants
    }
  }

  .tc__currentPosition__icon-yields {
    background: #288195; // TODO add to constants

    &:after {
      background: #5aaec0; // TODO add to constants
    }
  }
}
