.tf__detail__user__info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  width: 100%;
}

.tf__detail__user__info-legend-label-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.tf__detail__user_info__transaction-info {
  display: flex;
}

.tf__detail__user_info__transaction-info-date {
  width: 45%;
}

.tf__detail__user_info__transaction-info-type {
  width: 30%;
}

.tf__detail__user_info__transaction-info-balance {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
