@import './../../../constants.scss';

.tf__chart {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 5px;
  @include background-level-1;
}

.tf__chart-loading-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tf__chart-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tf__chart-data-axis-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tf__chart-header {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tf__chart-data-label {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.tf__chart-data-label-text {
  font-size: 42px;
  margin: 0px;
}

.tf__chart-data-label-text-small {
  font-size: 24px;
  padding-left: 12px;
  padding-bottom: 4px;
  margin: 0px;
}

.tf__chart-graph-container {
  width: 100%;
}

.tf__chart-graph-axis-label-text {
  font-size: 20px;
  margin: 4px 0px 4px 0px;
}

.tf__chart-header-info {
  display: flex;
  align-items: center;
}
