.tw__investors {
  background-color: #efecff;

  .tw__investors__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 40px 40px 100px 40px;
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto;

    @media screen and (max-width: 768px) {
      padding: 60px 16px;
      text-align: center;
    }
  }
}

.tw__investors-separator {
  display: flex;
  flex-grow: 1;
  height: 1px;
  width: 100%;
  margin: 100px 0;
  background-color: #050a4a;

  @media screen and (max-width: 768px) {
    margin: 60px 0;
  }
}

.tw__investors_logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 120px;
  align-self: flex-start;
  justify-items: center;
  align-items: center;
  margin: auto;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 80px 40px;
  }

  @media screen and (max-width: 320px) {
    grid-gap: 40px;
  }

  > * {
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      &:last-child {
        // span to the last two cells
        grid-column: 1 / -1;
      }
    }

    @media screen and (max-width: 320px) {
      max-width: 90px;
    }
  }
}
