.tf-top-assets {
  display: flex;
  flex-direction: column;
  width: 100%;

  .tf-top-assets-grid {
    .MuiDataGrid-root {
      border-color: transparent;
      color: white;

      .MuiSvgIcon-root.MuiDataGrid-iconSeparator {
        display: none;
      }

      .MuiDataGrid-cell {
        border-bottom-color: transparent;
      }
    }

    .tf-top-assets-ticker {
      display: flex;
      align-items: center;

      > span {
        margin-left: 7px;
      }
    }
  }
}
