.tc__marketsPools-container {
  margin: 40px 80px;
}

.tc__marketsPools {
  margin-top: 24px;
  margin-bottom: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 72px;
  row-gap: 24px;
}
