$background-offset: 59px;

.tc__nav-subheader {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 0 $background-offset + 5px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  // Subheader should be above section content - in case of a dropdown that overlaps with section content once expanded
  z-index: 3;

  .tc__nav-subheader__background {
    position: absolute;
    border: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('./svg/nav-subheader-left-border.svg'), url('./svg/nav-subheader-right-border.svg');
    background-repeat: no-repeat;
    background-position: left center, right center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: $background-offset;
      right: $background-offset;
      background-color: var(--pageContainerBackground);
    }
  }

  .tc__nav-subheader__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  .tc__nav-subheader__group {
    display: flex;

    .tc__tabs,
    .tc__iconButtonGroup,
    .tc__dropdown {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    .tc__iconButtonGroup {
      z-index: 1;
    }

    .tc__tabs__tab {
      width: 104px;
    }
  }
}
