.tf-transactions {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 64px;

  .tf-transactions-grid {
    position: relative;

    .MuiDataGrid-root {
      border-color: transparent;
      color: white;

      .MuiSvgIcon-root.MuiDataGrid-iconSeparator {
        display: none;
      }

      .MuiDataGrid-cell {
        border-bottom-color: transparent;
      }
    }
  }
}

.tf-transactions-loading-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
